# Set the email address that should be used to contact you if there is a problem with
# your TLS certificates.
{
  email dustywayne@comcast.net
}

{{ ec2_public_ip }}.sslip.io  {
  reverse_proxy localhost:8086
}
